.input_container {
    --accent-color: var(--accent-primary);

    border-radius: 8px;

    border: 1px solid var(--border-faint);
    background-color: var(--input-background);

    transition: border-color 100ms ease-in-out;

    input {
        width: 100%;
        padding: 15px;
        border: none;

        background-color: transparent;
        color: white;
        font-family: var(--font-body);
        
        &::placeholder {
            color: rgba(255, 255, 255, 0.5);
        }
        &:focus-within {
            outline: none;
        }
    }

    &:focus-within {
        border-color: var(--accent-color);
    }
}