.message_input {
    padding: 15px;

    border-radius: 8px;
    border: 1px solid var(--border-faint);
    background-color: var(--input-background);

    &:focus-within {
        border-color: var(--accent-primary);
    }
}