.search_container {
    display: flex;
    position: relative;
    flex-direction: column;
    width: fit-content;

    .search_input {
        width: 500px;
        padding: 10px;

        &:is(:not(:focus-within)) ~ .search_content {
            opacity: 0;
            pointer-events: none;
        }
    }

    .search_content {
        overflow: scroll;
        z-index: 1000;
        position: absolute;
        top: calc(100% - 15px);
        left: 0px;
        right: 0px;

        max-height: 250px;

        border-radius: 8px;

        opacity: 0;
        pointer-events: none;

        transition: all 150ms ease-in-out;

        &.has_content {
            opacity: 1;
            pointer-events: all;
            top: calc(100% + 5px);

            border: 1px solid var(--border-faint);
            box-shadow: 0 4px 15px black;
            background-color: var(--popup-background);
        }
    }
}