.chat {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-shrink: 0;
    gap: 15px;

    min-width: 350px;
    max-width: 450px;
    width: 350px;

    padding-bottom: 15px;
    border-left: 1px solid var(--border-faint);

    .resize_bar {
        position: absolute;
        top: 0;
        width: 4px;
        height: 100%;

        &:hover {
            cursor: ew-resize;
        }
    }
}

@media only screen and (max-width: 1000px) {
    .chat {
        max-width: 100% !important;
        width: 100% !important;
        height: 350px;

        border-top: 1px solid var(--border-faint);
        border-left: none;
    }
}