button {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 8px;

    width: fit-content;
    padding: 10px 15px;

    border: none;
    border-radius: 8px;
    background-color: transparent;
    transition: background-color 100ms ease-in-out;

    font-weight: bold;
    font-size: 16px;
    font-family: inherit;

    color: var(--text-primary);

    &.iconOnly {
        padding: 10px;
    }

    &.textColorInverted {
        color: #000;
    }

    &:hover {
        cursor: pointer;
        &:is(:disabled) {
            cursor: not-allowed;
        }
    }

    &:disabled {
        opacity: 0.5;
    }

    &.displayFilled {
        background-color: color-mix(in srgb, var(--button-color) 80%, #000 20%); 

        &:hover:not(:disabled) {
            background-color: color-mix(in srgb, var(--button-color) 70%, #000 30%); 
        }
        &:active:not(:disabled) {
            background-color: color-mix(in srgb, var(--button-color) 60%, #000 40%) !important; 
        }
    }

    &.displayOutlined {
        &:hover:not(:disabled) {
            background-color: color-mix(in srgb, var(--button-color) 15%, transparent);
        }
        &:active:not(:disabled) {
            background-color: color-mix(in srgb, var(--button-color) 25%, transparent);
        }
    }

    &.displayLink {
        color: var(--button-color);
        background-color: transparent;

        &:hover:not(:disabled) {
            text-decoration: underline;
            background-color: color-mix(in srgb, var(--button-color) 15%, transparent);
        }
        &:active:not(:disabled) {
            text-decoration: underline;
            background-color: color-mix(in srgb, var(--button-color) 25%, transparent);
        }
    }

    &.displayGhost {
        background-color: transparent;
        color: var(--text-secondary);

        &:hover:not(:disabled) {
            background-color: color-mix(in srgb, var(--button-color) 15%, transparent);
            color: var(--text-primary);
        }
        &:active:not(:disabled) {
            background-color: color-mix(in srgb, var(--button-color) 25%, transparent);
            color: var(--text-primary);
        }
    }
}

.colorPrimary {
    --button-color: var(--accent-primary);
}

.colorDanger {
    --button-color: var(--accent-red);
}

.colorWarning {
    --button-color: var(--accent-orange);
}

.colorPositive {
    --button-color: var(--accent-green);
}

.colorWhite {
    --button-color: var(--text-primary);
}

.colorNeutral {
    --button-color: hsl(0, 0%, 25%);
}