.anime_queuer {
    --accent-color: var(--accent-primary);

    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;

    width: 800px;
    height: 650px;

    padding: 20px;
    border: 1px solid var(--border-faint);
    border-radius: 15px;

    background-color: color-mix(in srgb, var(--accent-color) 5%, black 95%);
    transition: all 250ms ease-in-out;

    .cover {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 235px;
        background-color: var(--accent-color);
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.25) 50%, transparent 95%);

        img {
            width: 100%;
            height: 235px;
            object-fit: cover;
        }
    }

    .info {
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: row;
        gap: 15px;
        height: fit-content;
        flex-shrink: 0;

        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

        .poster {
            position: relative;
            z-index: 1;
            width: 150px;
            height: 214px;
            flex-shrink: 0;

            border-radius: 10px;
            box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.50);
        }
    }

    .details {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        height: 214px;

        .title {
            width: 100%;
        }

        .description {
            overflow: scroll;
            padding-right: 10px;
        }
    }

    .episodes {
        overflow-y: scroll;
        display: grid;
        flex-direction: column;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        padding-right: 10px
    }
}