:root {
    --app-background: black;
    --modal-background: hsl(0, 0%, 1%);
    --popup-background: hsl(0, 0%, 1%);
    --input-background: hsl(0, 0%, 5%);

    --modifier-background: rgba(255, 255, 255, 0.05);
    --modifier-hover: rgba(255, 255, 255, 0.1);

    --border-faint: rgba(255, 255, 255, 0.15);

    --accent-primary: #8FAAED;
    --accent-red: #E83A3A;
    --accent-orange: #E8973A;
    --accent-green: #28D275;

    --font-header: 'Montserrat', Avenir, Helvetica, Arial, sans-serif;
    --font-body: 'Inter', Avenir, Helvetica, Arial, sans-serif;
    --text-primary: hsl(0, 0%, 95%);
    --text-secondary: hsl(0, 0%, 80%);
    --text-grey: hsl(0, 0%, 25%);
}

html, body {
    height: 100%;
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;

    color: var(--text-primary);
    background-color: var(--app-background);
    font-family: var(--font-body);
}

#root {
    position: absolute;
    
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    height: 100vh;
}

#modal {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}